* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e2f6;
  font-family: Arial, Helvetica, sans-serif;
  color: #232a70;
}

.container {
  display: flex;
  justify-content: space-evenly;
  margin: 300px auto;
  padding: 0 100px;
  gap: 50px;
}

.producto {
  flex: 1;
  list-style: none;
}

.container-carrito {
  flex: 2;
}

span {
  display: inline-block;
  width: 75px;
  padding: 5px;
  line-height: 20px;
}
button {
  background: grey;
  width: 50px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
}
