* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: wheat;
}

.tarjeta {
  width: 500px;
  height: auto;
  background: white;
  margin: 200px auto;
  padding: 30px;
  border: 1px solid black;
  border-radius: 6px;
  position: relative;
  z-index: 1;
}
